a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

.box-shadow {
  box-shadow: 0 .75rem .75rem rgba(40, 40, 40, .05);
}
